In [1]:
import pandas as pd
import numpy as np

In [2]:
admin_api_token='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'

In [3]:
api_key='e6f3f85adba0bb34acfa99cf671ca3e2'

In [4]:
API_secret_key='43f68fb4fe472dab25739e4f83649365'

In [5]:
import pandas as pd
import numpy as np
import re
import requests


def get_all_orders():
    last=0
    orders=pd.DataFrame()
    while True:
#         url = f"https://{apikey}:{password}@{hostname}/admin/api/{version}/{resource}.json?limit=250&fulfillment_status=unfulfilled&since_id={last}"
#         response = requests.request("GET", url)
        
        
        url = f"https://luxmii.com/admin/api/2024-04/orders.json?limit=250&fulfillment_status=unfulfilled&since_id={last}"

        payload={}
        headers = {
          'Content-Type': 'application/json',
          'X-Shopify-Access-Token': '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'
        }

        response = requests.request("GET", url, headers=headers, data=payload)

        
        
        df=pd.DataFrame(response.json()['orders'])
        orders=pd.concat([orders,df])
        last=df['id'].iloc[-1]
        if len(df)<250:
            break
    return(orders)



df=get_all_orders()

In [6]:
df['list_items']=df['line_items'].apply(lambda x:[{'name':i['name'],'id':i['id'],'quantity':i['quantity']} for i in x] )

In [7]:
s=df[['name','id','list_items']].explode('list_items')

In [8]:
s.reset_index(inplace=True,drop=True)

In [9]:
s['product_name']=s['list_items'].apply(lambda x:x['name'])
s['item_id']=s['list_items'].apply(lambda x:x['id'])
s['quantity']=s['list_items'].apply(lambda x:x['quantity'])

In [10]:
s.drop('list_items',axis=1,inplace=True)

In [11]:
s

,name,id,product_name,item_id,quantity
0,#9399,5545592553708,Tie Knot Linen Cami Top Tobacco - L,13660631040236,1
1,#9399,5545592553708,Il Ragazzo Boyfriend White Linen Shirt - M/L,13660631073004,1
2,#9399,5545592553708,Collo Alto Linen Top Oatmeal - L,13660631105772,1
3,#9399,5545592553708,Piega Linen Trouser Black - XL,13660631138540,1
4,#9399,5545592553708,Pioggia Linen Trouser Black - L,13660631171308,1
...,...,...,...,...,...
365,#9961,5574960021740,Zulu Linen Wrap Dress in Navy - M,13716081705196,1
366,#9962,5574992003308,Aurore Linen Midi Dress Black - L,13716142915820,1
367,#9962,5574992003308,Cora Linen Wrap Dress Navy - L,13716142948588,1
368,#9963,5575050199276,Zulu Linen Wrap Dress in Navy - S,13716257571052,1
369,#9964,5575061733612,Farfalla Linen Midi Dress Teal - M,13716279361772,1

In [12]:
def get_item_location(order_id):
    url = f"https://luxmii.com/admin/api/2024-04/orders/{order_id}/fulfillment_orders.json"

    payload={}
    headers = {
      'Content-Type': 'application/json',
      'X-Shopify-Access-Token': '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'
    }

    response = requests.request("GET", url, headers=headers, data=payload)
    
    z=pd.DataFrame((response.json()['fulfillment_orders']))

    z['list_items']=z['line_items'].apply(lambda x:[ i['line_item_id'] for i in x])
    z['location']=z['assigned_location'].apply(lambda x: x['country_code'])
    z=z[['list_items','location']].explode('list_items')
    z.columns=['item_id','location']
    z=z.drop_duplicates().reset_index(drop=True)
    return(z)

In [13]:
locs=pd.DataFrame()
for order_id in list(s['id'].unique()):
    locs=pd.concat([locs,get_item_location(order_id)])

In [14]:
data=s.merge(locs,on='item_id',how='left')

In [15]:
data=data[data['location']!='AU']

In [16]:
data.sort_values('name')

,name,id,product_name,item_id,quantity,location
1,#9399,5545592553708,Il Ragazzo Boyfriend White Linen Shirt - M/L,13660631073004,1,PT
2,#9399,5545592553708,Collo Alto Linen Top Oatmeal - L,13660631105772,1,PT
3,#9399,5545592553708,Piega Linen Trouser Black - XL,13660631138540,1,PT
8,#9399,5545592553708,Farfalla Linen Midi Dress Red Bordeaux - XL,13660631302380,1,PT
9,#9510,5551424962796,Illya Linen Midi Dress Black - XS/S,13672069071084,1,PT
...,...,...,...,...,...,...
364,#9960,5574934954220,Zulu Linen Wrap Dress in Navy - S,13716033011948,1,PT
366,#9961,5574960021740,Zulu Linen Wrap Dress in Navy - M,13716081705196,1,PT
368,#9962,5574992003308,Cora Linen Wrap Dress Navy - L,13716142948588,1,PT
367,#9962,5574992003308,Aurore Linen Midi Dress Black - L,13716142915820,1,PT
369,#9963,5575050199276,Zulu Linen Wrap Dress in Navy - S,13716257571052,1,PT

In [ ]:

with pd.ExcelWriter('luxmii_report.xlsx', engine='xlsxwriter') as writer:
    df1.to_excel(writer, sheet_name='Sheeta')
    df2.to_excel(writer, sheet_name='Sheetb')
    df3.to_excel(writer, sheet_name='Sheetc')

In [9]:
import smtplib
from email.mime.text import MIMEText
# MIMEMultipart send emails with both text content and attachments.
from email.mime.multipart import MIMEMultipart
# MIMEText for creating body of the email message.
from email.mime.text import MIMEText
# MIMEApplication attaching application-specific data (like CSV files) to email messages.
from email.mime.application import MIMEApplication

subject = "Email Subject"
body = "This is the body of the text message"
sender = "luxmii.agent@gmail.com"
recipients = ["billybonaros@gmail.com"]
password = "czue irol jdfh eeua"
path_to_file = 'WorkBook3.xlsx'
body_part = MIMEText(body)

NameError: name 'message' is not defined

In [13]:


def send_email(subject, body, sender, recipients, password):
    msg= MIMEMultipart()
    msg['Subject'] = subject
    msg['From'] = sender
    msg['To'] = ', '.join(recipients)
    body_part = MIMEText(body)
    msg.attach(body_part)


        # section 1 to attach file
    with open(path_to_file,'rb') as file:
        # Attach the file with filename to the email
        msg.attach(MIMEApplication(file.read(), Name="example.xlsx"))

    
    with smtplib.SMTP_SSL('smtp.gmail.com', 465) as smtp_server:
       smtp_server.login(sender, password)
       smtp_server.sendmail(sender, recipients, msg.as_string())
    print("Message sent!")


send_email(subject, body, sender, recipients, password)

Message sent!